<% layout("layouts/boilerplate") -%>

    <body>
        <div class="row">
            <div class="col-10 col-sm-12 col-md-12 col-lg-8">
                <h3><%= listing.title %></h3>
                <div class="card col-12">
                    <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="listing_image">
                    <div class="card-body show-info">
                        <p class="card-text"><b>
                                <%= listing.title %>
                            </b>
                            <br>
                            <%= listing.description %>
                                <br>
                                &#8377; <%= listing.price.toLocaleString("en-IN") %>
                                    <br>
                                    <%= listing.location %>
                                        <br>
                                        <%= listing.country %>
                        </p>
                    </div>
                </div>
                <div class="btns">
                    <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark edit-btn">Edit</a>
                    <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
                        <button class="btn btn-dark col-12 offset-2">Delete</button>
                    </form>
                </div>
                <br><br>
            </div>
        </div>
    </body>